<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Blog Site</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/standard.css" rel="stylesheet">
  </head>
  
  
  <body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="container">
      <h1>Welcome to Our Blog Post Site!</h1>
      <h3>Check out our blogs!</h3>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 th:text="${blog.title}"></h2>
            </div>
            <div class="panel-body">
              <strong>
                <p th:text="${blog.author}"></p>
              </strong>
              <p th:text="${blog.blogEntry}"></p>
            </div>
            <div class="panel-footer">
              
              <form action="#" th:action="@{'/blogposts/{id}'(id=${blog.id})}" th:method="delete"
              class="form-horizontal">
             <div class="form-group">
              <input type="hidden" name="_method" value="delete" />
              <button type="submit" class="btn btn-danger btn-block" 
                th:text="Delete">Delete Post</button>
            </div>
            </form>
            <a href="#" th:href="@{'/blogposts/{id}'(id=${blog.id})}">
              <button class="btn btn-block">Edit Post</button>
          </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="webjars/jquery/1.9.1/jquery.min.js"></script>
  </body>
</html>